fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
google-generativeai
geoip2
httpx
python-multipart
fastapi-mail
authlib
stripe
pandas
numpy
scikit-learn
matplotlib
seaborn
tensorflow==2.15.0 # La version compatible
flwr==1.7.0