# backend/requirements.txt
flwr[simulation]
tensorflow
numpy
pandas
scikit-learn
fastapi
uvicorn[standard]
SQLAlchemy
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
requests
apscheduler
matplotlib
seaborn