/* frontend/src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* On définit les variables de couleur pour chaque thème */
:root {
  /* Thème Clair (par défaut) */
  --color-text-primary: #111827; /* Presque noir */
  --color-text-secondary: #6B7280; /* Gris moyen */
  --color-bg-primary: #FFFFFF;   /* Blanc */
  --color-bg-secondary: #F3F4F6; /* Gris très clair */
  --color-accent: #3B82F6;       /* Bleu */
  --color-accent-hover: #2563EB;
}

.dark {
  /* Thème Sombre */
  --color-text-primary: #F9FAFB; /* Presque blanc */
  --color-text-secondary: #9CA3AF; /* Gris clair */
  --color-bg-primary: #111827;   /* Gris-noir */
  --color-bg-secondary: #1F2937; /* Gris plus clair */
  --color-accent: #60A5FA;       /* Bleu plus clair */
  --color-accent-hover: #3B82F6;
}

/* Style de base pour que les transitions de couleur soient douces */
body {
  @apply bg-bg-secondary text-text-primary transition-colors duration-300;
}